# Your HenrikDev API Key goes here
# You can get one from the HenrikDev Discord: https://discord.com/invite/X3GaVkX2YN
HENRIK_API_KEY=

# Upstash Redis Configuration (for Rate Limiting and Caching)
# Get these by creating a free database at: https://console.upstash.com/
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
