# Your HenrikDev API Key goes here
# https://api.henrikdev.xyz/dashboard/
HENRIK_API_KEY=

# Upstash Redis Configuration (for Rate Limiting and Caching)
# Get these by creating a free database at: https://console.upstash.com/
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
